
@{
    ViewData["Title"] = "AuditManagement";
}

<h3>Understanding Audit Management</h3>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">
            <dl>
                <dt>Understanding Audit Management:</dt>
                <dd>
                    The Audit Management automates the work streams of internal audit teams, optimizing resources and productivity, and eliminating recurring audit findings. Audit Management uses compliance and risk data to scope, plan, and prioritize audit engagements. The on-going review of policies and procedures, risks, and control breakdowns provide an opportunity for fixing issues before they become audit failures.
                </dd>
                <dt> Who uses Audit Management?</dt>
                <dd>
                    Auditors (an independent body, typically reporting to the board of directors) audit engagements. The on-going review of policies and procedures, risks, and control breakdowns provide an opportunity for fixing issues before they become audit failures.
                </dd>
                <dt> Key Points</dt>
                <dd>
                    Auditors are responsible for the following:
                    <ul>
                        <li>Review policies and procedures</li>
                        <li>Review risks</li>
                        <li>Review control design</li>
                        <li>control test design</li>
                        <li> control test results</li>
                        <li> controls</li>
                        <li>observations</li>
                    </ul>
                </dd>
            </dl>
        </p>
    </div>
</div>

