
@{
    ViewData["Title"] = "AuditDirective";
}

<h3>Audit Directive and Regulation</h3>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">
            <dl>
                <dt>Audit Directive and Regulation</dt>
                <dd>
                    It is important that the United Kingdom economy has organised and effective capital markets and there is self-assurance in the business framework through greater transparency.
                    Offering reliable and informative reporting supplies to this pledge.
                    It includes the application of global accounting principles and global principles on auditing and requires an ongoing conversation with UK stakeholders and EU or international lawmakers on measures to encourage market firmness.
                    Companies that are publicly traded may be required to submit an audit.
                </dd>
            </dl>
        </p>
    </div>
</div>
