
@{
    ViewData["Title"] = "ManagingAudit";
}

<h3>Managing an Audit</h3>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">
            <dl>
                <dt>Managing an Audit</dt>
                <dd>
                    To manage an audit team in a manner to achieve good results, it is important that audit managers have strong leadership skills, workers want to work for someone that has moved up the ranks which shows that the manager they work with has experience doing the job team members are doing. It is important that the teams works efficiently, carrying out audit can be time consuming so being organised and managing different information helps with the productiveness.
                    Auditing involves planning, method, facts, procedures, controls, risk, and management.
                    Communication skills is key to many successful auditors, as you develop through your career getting you message across in your unique way clearly helps project your professionalism.
                    Auditors from different countries may work with each other to help the same client, it is common for auditors to work directly at their client company in their offices.
                </dd>
            </dl>
        </p>
    </div>
</div>

