
@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy Policy</h1>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">
            <ul>
                <li>
                    The objective of a privacy audit is to assess an organization's privacy protection posture against any legislative/regulatory requirements or international best practices and to review compliance with the organization's own privacy-related policies.
                </li>
                <li>
                    A Privacy Policy agreement is the agreement where you specify if you collect personal data from your users, what kind of personal data you collect and what you do with that data.
                </li>
                <li>
                    The notion and understanding of privacy will continue to evolve. Data collection and utilization have already been, and continue to be, even more pervasive, in some cases with the individual’s consent, but in many cases without the individual’s knowledge. Debates will continue about privacy on one hand and efficiency and convenience on the other. New or updated regulatory requirements are expected to emerge as well.
                </li>
                <li>
                    In this ever-changing scenario, auditors should establish and follow a comprehensive privacy audit methodology to ensure that their organizations are not inadvertently exposed to any undesired risk. Furthermore, steps should be taken to ensure that all privacy-related risk is minimized to an acceptable level. Auditors should also be wary of emerging technological trends and their impact on privacy. Consideration should be given to include privacy audit in the annual audit plan, and reports should be provided on a periodic basis to all stakeholders.
                </li>
            </ul>
        </p>
    </div>
</div>

